//DO NOT TOUCH THIS FILE - CONFIGURATION

/* Font size calculations */

$rootFontSize: 16;

//Function for converting a px based font-size to rem.
@function calculateRem($size) {
  $remSize: $size / $rootFontSize; //Font size you set on html element
  @return #{$remSize}rem;
}

//Mixin that will include the fall back px decleration as well as the calculated RemSize
@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

//Mixin for animations
@mixin animate($name: fadeIn, $duration: 1s, $delay: 0.2s, $function: ease, $mode: both) {
  @include experimental(animation, $name $duration $delay $function $mode);
}